.requests-table {
  width: 100%;
  border-radius: 8px;
  border: 1px solid $lightGrey;
  overflow: hidden;

  thead {
    background-color: $lightGrey;

    th {
      padding: 12px 0 13px;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: $trnsBlack;
      text-align: left;
    }
  }

  tbody {
    tr {
      td {
        text-align: left;
        padding: 23px 0 22px;
        padding-right: 30px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        border-bottom: 1px solid $lightGrey;

        &:nth-child(6) {
          padding-right: 50px;
        }

        &:first-child {
          padding-right: 14px;
          padding-left: 14px;
          div {
            display: flex;
          }
          img {
            margin: 0 4px;
          }
        }

        .new-mail {
          position: relative;

          &::after {
            content: '';
            width: 6px;
            height: 6px;
            border: 2px solid $white;
            border-radius: 50%;
            background-color: $purple;
            position: absolute;
            top: -2px;
            right: 0;
          }
        }

        span {
          padding-bottom: 3px;

          &.performer {
            &.appoint {
              color: $purple;
              cursor: pointer
            }
          }

          &.status, &.descr {
            cursor: pointer;
            border-bottom: 1px dashed $trnsBlack;
          }

          &.status {
            position: relative;
            margin-left: 11px;

            &::before {
              content: '';
              width: 6px;
              height: 6px;
              border-radius: 50%;
              position: absolute;
              left: -10px;
              top: 50%;
              transform: translateY(-60%);
            }
            &.awaiting {
              color: $grey;
              border-bottom-color: $lightGrey;
              &::before {
                background-color: $lightGrey;
              }
            }
            &.process {
              color: $purple;
              border-bottom-color: $trnsPurple;
              &::before {
                background-color: $trnsPurple;
              }
            }
            &.solved {
              color: $green;
              border-bottom-color: $trnsGreen;
              &::before {
                background-color: $trnsGreen;
              }
            }
            &.expired {
              color: $red;
              border-bottom-color: $trnsRed;
              &::before {
                background-color: $trnsRed;
              }
            }
            &.rejected {
              &::before {
                background-color: $trnsBlack;
              }
            }
          }
        }
      }
    }
  }
}