.requests-table {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;


  thead {
    background-color: $lightGrey;

    th {
      padding: 12px 0 13px;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: $trnsBlack;
      text-align: left;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid $lightGrey;
      
      td {
        text-align: left;
        padding: 23px 0 22px;
        padding-right: 30px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
      }
      td:first-child {
        padding-right: 14px;
        padding-left: 14px;
        div {
          display: flex;
        }
        img {
          margin: 0 4px;
        }
      }
    }
  }
}