.sidebar {
  min-width: $sidebarWidth;
  height: calc(100vh - 80px);
  padding-top: 23px;
  border-right: 1px solid $lightGrey;

  ul {
    li {
      display: flex;
      align-items: center;
      padding: 6px 0 6px 30px;
      margin-bottom: 10px;
      position: relative;
  
      &.active {
        span {
          color: $purple;
        }
        &::before {
          content: '';
          width: 3px;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          background-color: $purple;
        }
      }

      img {
        margin-right: 10px;
      }
      span {
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.01em;
        color: $trnsBlack;
      }
    }
  }
}