* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

a, span, p, b, h1, h2, h3, h4, h5 {
  color: $black;
}

img {
  display: block;
}

