$black: #2A2E52; 
$trnsBlack: #2A2E5299;
$grey: #2A2E5266;
$lightGrey: #2A2E5212;
$white: #FFFFFF;
$purple: #5B6CFF;
$trnsPurple: #5B6CFF66;
$green: #64DCA2;
$trnsGreen: #64DCA299;
$red: #FF7171;
$trnsRed: #FF717199;
$yellow: #FAC641;

$sidebarWidth: 176px;
$appMinWidth: 1350px;